spring:
  application:
    name: instagramProject
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
security:
  secret:
     key: "MySuperMegaSecretKey123456!@#"
server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    operations-sorter: method
    tags-sorter: alpha
    doc-expansion: none     # операциялар жабык ачылат
    try-it-out-enabled: true
    filter: true            # search бар

